.section-hero{
  // padding-left: 76px;
  // padding-right: 76px;
  background-color: #FEBD18;
  height: 600px;
}
.hero-menu{
  width: 100%;
  height: 100px;
 background-color:$background-text-white;
  display: flex;
// justify-content: space-around;
justify-content: center;
display: flex;
align-items: center;

height: 100px;
 align-items: center;
    &__catalog{
      display: flex;
      align-items: center;
      margin-top: 38px;
      margin-bottom: 38px;
      margin-right: 10px;

      &__title{
        margin-left: 20px;
        font-weight: 500;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.01em;
text-transform: uppercase;
color: $secondary-text-color-blackBackground;
      }
    }
    &__search{
      // display: flex;
      margin-top: 28px;
      margin-bottom: 28px;
      margin-right: 79px;
      &__form{
        position: relative;
        &__icon{
       position: absolute;
         left: 1%;
         top: 21%;
      
        }
        &__input{
      //  position: relative;
          border:none;
          background-color: $surface-grey-color;
         padding-bottom: 12px;
         padding-top: 12px;
         padding-left: 40px;
          width: 1050px;
          height: 44px;
        }

        &__button{
          position: absolute;
          background-color: $main-CTA-color;
          border:none;
          width: 102px;
          height: 44px;
          padding: 12px 15px;
          font-weight: 500;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.01em;
text-transform: uppercase;
        }
      }
    }
  &__contacts{
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 40px;

    &__link{
      margin-left: 20px;
      font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.01em;
text-transform: uppercase;

/* main dark */

color:$background-text-black;
    }

    &__contact{
      margin-left: 10px;
      font-weight: 400;
font-size: 14px;
line-height: 140%;
/* or 20px */

letter-spacing: 0.01em;

/* main dark */

color: #18191A;

opacity: 0.5;
    }
  }
  }
  .hero-slider{
    position: relative;
    &__img-dewalt{
background-image: url(../images/dewalt.png);
width: 488px;
height: 118px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin-top: 80px;
margin-left: 80px;
margin-bottom: 55px;
    }
    &__img-blackSquare{
      background-image: url(../images/black-square.png);
      width: 200px;
      height: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-left: 229px;
      margin-bottom: 85px;
    }
    &__img-sale{
      background-image: url(../images/sale.png);
      width: 145px;
      height: 44px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    position: absolute;
    top:66%;
    left:13.5%;
    }
    &__img-people{
      background-image: url(../images/people.png);
      width: 682px;
      height: 457px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      // margin-top: 70px;
    position: absolute;
    top:-10%;
    left:30.5%;
    }
    &__img-tool-1{
      background-image: url(../images/tool-1.png);
      width: 140px;
      height: 140px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    position: absolute;
    top:-4%;
    right: 26.5%;
    }
    &__img-tool-2{
      background-image: url(../images/tool-2.png);
      width: 250px;
      height: 250px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    position: absolute;
    top:-6%;
    right: 9.5%;
    }
    &__img-tool-3{
      background-image: url(../images/tool-3.png);
      width: 145px;
      height: 145px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    position: absolute;
    top:60%;
    right: 21%;
    }

  }