// Colors//
$main-CTA-color:#FAE719;
$secondary-CTA-color:#B8AA14;
$background-text-black:#18191A;
$surface-dark-color:#2A2A2A;
$secondary-text-color-blackBackground:#5D5E5E;
$secondary-text-color-whiteBackground:#8C8C8D;
$surface-grey-color:#E8E8E9;
$surface-light-color:#F8F8F5;
$background-text-white:#FFFFFF;
$green-color:#4BB814;

