<section class="advances">
    <p class="advances__title">НАШІ ПЕРЕВАГИ</p>
    <ul class="advances__list">
      <li class="advances__list__item">
        <img class="advances__list__item__image" src="./images/safeguard.png" alt="safeguard" width="52.5">
        <p class="advances__list__item__title">ГАРАНТІЯ</p>
        <p class="advances__list__item__desc">На весь інструмент - офіційна гарантія виробника. Гарантійне та сервісне обслуговування проводиться сервісними центрами.</p>
      </li>
      <li class="advances__list__item">
        <img class="advances__list__item__image" src="./images/delivery.png" alt="delivery" width="70">
        <p class="advances__list__item__title">ДОСТАВКА</p>
        <p class="advances__list__item__desc">Оперативна доставка. "Нова Пошта", "Делівері", "Міст експрес", "УкрПошта", "Justin" - обирайте будь-яку!</p>
      </li>
      <li class="advances__list__item">
        <img class="advances__list__item__image" src="./images/bonus.png" alt="bonus" width="70">
        <p class="advances__list__item__title">БОНУСИ</p>
        <p class="advances__list__item__desc">Купуйте більше - платіть менше! Отримуйте бонуси на покупки в інших магазинах. Прогресивна дисконтна
          та накопичувальна система.</p>
      </li>
      <li class="advances__list__item">
        <img class="advances__list__item__image" src="./images/sale-2.png" alt="sale" width="52.5">
        <p class="advances__list__item__title">АКЦІЇ</p>
        <p class="advances__list__item__desc">Знижки до 50% щомісяця. Сезонні знижки, тематичні акції, знижки на окремі бренди.</p>
      </li>
    </ul>
</section>