<section class="feedback">
  <div class="feedback__wrapper">
  <p class="feedback__feedback">ВІДГУКИ</p>
  <a class="feedback__feedback-all" href="#">ВСІ ВІДГУКИ</ф>
</div>
<ul class="feedback__list">
  <li class="feedback__list__item">
    <div class="feedback__list__item__wrapper">
    <img class="feedback__list__item__avatar" src="./images/avatar.png" alt="avatar" width="50">
   <div class="feedback__list__item__inner-star">
    <p class="feedback__list__item__name">Ростислав</p>
    <svg class="feedback__list__item__icon-star" width="12" height="12">
      <use href="./images/svg/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg class="feedback__list__item__icon-star" width="12" height="12">
      <use href="./images/svg/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg class="feedback__list__item__icon-star" width="12" height="12">
      <use href="./images/svg/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg class="feedback__list__item__icon-star" width="12" height="12">
      <use href="./images/svg/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg class="feedback__list__item__icon-star" width="12" height="12">
      <use href="./images/svg/symbol-defs.svg#icon-star"></use>
    </svg>
   </div>
    </div>
      <p class="feedback__list__item__feedback">Купую в цьому інтернет-магазині не перший рік інструмент, собі, в подарунок друзям, дуже задоволений.</p>
     <div class="feedback__list__item__inner-content">
      <p class="feedback__list__item__data">22 Вересня 2021</p>
      <a class="feedback__list__item__link-read" href="#">ЧИТАТИ</a>
     </div>
  </li>
  <li class="feedback__list__item">
    <div class="feedback__list__item__wrapper">
    <img class="feedback__list__item__avatar" src="./images/avatar.png" alt="avatar" width="50">
    <div class="feedback__list__item__inner-star">
    <p class="feedback__list__item__name">Ростислав</p>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      </div>
      </div>
      <p class="feedback__list__item__feedback">Купую в цьому інтернет-магазині не перший рік інструмент, собі, в подарунок друзям, дуже задоволений.</p>
      <div class="feedback__list__item__inner-content">
        <p class="feedback__list__item__data">22 Вересня 2021</p>
        <a class="feedback__list__item__link-read" href="#">ЧИТАТИ</a>
       </div>
  </li>
  <li class="feedback__list__item">
    <div class="feedback__list__item__wrapper">
    <img class="feedback__list__item__avatar" src="./images/avatar.png" alt="avatar" width="50">
    <div class="feedback__list__item__inner-star">
    <p class="feedback__list__item__name">Ростислав</p>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
    </div>
    </div>
      <p class="feedback__list__item__feedback">Купую в цьому інтернет-магазині не перший рік інструмент, собі, в подарунок друзям, дуже задоволений.</p>
      <div class="feedback__list__item__inner-content">
        <p class="feedback__list__item__data">22 Вересня 2021</p>
        <a class="feedback__list__item__link-read" href="#">ЧИТАТИ</a>
       </div>
  </li>
  <li class="feedback__list__item">
    <div class="feedback__list__item__wrapper">
    <img class="feedback__list__item__avatar" src="./images/avatar.png" alt="avatar" width="50">
    <div class="feedback__list__item__inner-star">
    <p class="feedback__list__item__name">Ростислав</p>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
    </div>
    </div>
      <p class="feedback__list__item__feedback">Купую в цьому інтернет-магазині не перший рік інструмент, собі, в подарунок друзям, дуже задоволений.</p>
      <div class="feedback__list__item__inner-content">
        <p class="feedback__list__item__data">22 Вересня 2021</p>
        <a class="feedback__list__item__link-read" href="#">ЧИТАТИ</a>
       </div>
  </li>
  <li class="feedback__list__item">
   <div class="feedback__list__item__wrapper">
    <img class="feedback__list__item__avatar" src="./images/avatar.png" alt="avatar" width="50">
    <div class="feedback__list__item__inner-star">
    <p class="feedback__list__item__name">Ростислав</p>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
      <svg class="feedback__list__item__icon-star" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-star"></use>
      </svg>
    </div>
   </div>
      <p class="feedback__list__item__feedback">Купую в цьому інтернет-магазині не перший рік інструмент, собі, в подарунок друзям, дуже задоволений.</p>
      <div class="feedback__list__item__inner-content">
        <p class="feedback__list__item__data">22 Вересня 2021</p>
        <a class="feedback__list__item__link-read" href="#">ЧИТАТИ</a>
       </div>
  </li>
</ul>
</section>