<footer class="footer">
<div class="footer__wrapper">
  <a href="http://localhost:1234/" class="footer__logo-link">
    <img src="./images/logo.png" alt="logo" width="193" class="footer__logo-img">
  </a>
  <div class="footer__inner-content">
<ul class="footer__inner-content__list-about-us">
  <li class="footer__inner-content__list-about-us__item">
    <p class="footer__inner-content__list-about-us__item__title">ПРО НАС</p>
  </li>
  <li class="footer__inner-content__list-about-us__item">
    <p class="footer__inner-content__list-about-us__item__option">Каталог</p>
  </li>
  <li class="footer__inner-content__list-about-us__item">
    <p class="footer__inner-content__list-about-us__item__option">Контакти</p>
  </li>
  <li class="footer__inner-content__list-about-us__item">
    <p class="footer__inner-content__list-about-us__item__option">Роздрібні магазини</p>
  </li>
  <li class="footer__inner-content__list-about-us__item">
    <p class="footer__inner-content__list-about-us__item__option">Відгуки</p>
  </li>
  <li class="footer__inner-content__list-about-us__item">
    <p class="footer__inner-content__list-about-us__item__option">Бренди</p>
  </li>
  <li class="footer__inner-content__list-about-us__item">
    <p class="footer__inner-content__list-about-us__item__option">Партнери</p>
  </li>
  <li class="footer__inner-content__list-about-us__item">
    <p class="footer__inner-content__list-about-us__item__option">Мапа сайту</p>
  </li>
</ul>

<ul class="footer__inner-content__list-service">
  <li class="footer__inner-content__list-service__item">
    <p class="footer__inner-content__list-service__item__title">СЕРВІС</p>
  </li>
  <li class="footer__inner-content__list-service__item">
    <p class="footer__inner-content__list-service__item__option">Гарантія</p>
  </li>
  <li class="footer__inner-content__list-service__item">
    <p class="footer__inner-content__list-service__item__option">Сервіс</p>
  </li>
  <li class="footer__inner-content__list-service__item">
    <p class="footer__inner-content__list-service__item__option">Оплата</p>
  </li>
  <li class="footer__inner-content__list-service__item">
    <p class="footer__inner-content__list-service__item__option">Доставка</p>
  </li>
  <li class="footer__inner-content__list-service__item">
    <p class="footer__inner-content__list-service__item__option">Повернення товару</p>
  </li>
  <li class="footer__inner-content__list-service__item">
    <p class="footer__inner-content__list-service__item__option">Обмін товару</p>
  </li>
  <li class="footer__inner-content__list-service__item">
    <p class="footer__inner-content__list-service__item__option">Відповіді на питання</p>
  </li>
</ul>
<ul class="footer__inner-content__list-useful">
  <li class="footer__inner-content__list-useful__item">
    <p class="footer__inner-content__list-useful__item__title">ПОЛЕЗНОЕ</p>
  </li>
  <li class="footer__inner-content__list-useful__item">
    <p class="footer__inner-content__list-useful__item__option">Акції</p>
  </li>
  <li class="footer__inner-content__list-useful__item">
    <p class="footer__inner-content__list-useful__item__option">Статус заказу</p>
  </li>
  <li class="footer__inner-content__list-useful__item">
    <p class="footer__inner-content__list-useful__item__option">Програма лояльності</p>
  </li>
  <li class="footer__inner-content__list-useful__item">
    <p class="footer__inner-content__list-useful__item__option">Підписникам</p>
  </li>
  <li class="footer__inner-content__list-useful__item">
    <p class="footer__inner-content__list-useful__item__option">Новини</p>
  </li>
  <li class="footer__inner-content__list-useful__item">
    <p class="footer__inner-content__list-useful__item__option">Блог</p>
  </li>
  <li class="footer__inner-content__list-useful__item">
    <p class="footer__inner-content__list-useful__item__option">Відео</p>
  </li>
</ul>
<div class="footer__inner-content__wrapper-contact-us">
  <ul class="footer__inner-content__list-contact-us">
    <li class="footer__inner-content__list-contact-us__item">
      <p class="footer__inner-content__list-contact-us__item__title">ЗВ’ЯЖІТЬСЯ З НАМИ</p>
    </li>
    <li class="footer__inner-content__list-contact-us__item">
      <a class="footer__inner-content__list-contact-us__item__link" href="tel:050 552 29 45">050 552 29 45</a>
    </li>
    <li class="footer__inner-content__list-contact-us__item">
      <a class="footer__inner-content__list-contact-us__item__link" href="tel:067 147 80 55">067 147 80 55</a>
    </li>
    <li class="footer__inner-content__list-contact-us__item">
      <a class="footer__inner-content__list-contact-us__item__link" href="093 170 07 76">093 170 07 76</a>
    </li>
  </ul>
  <div class="footer__inner-content__wrapper-sub">
    <p class="footer__inner-content__wrapper-sub__desc">Дізнавайтеся про нові акції, знижки
      і спецпропозиції</p>
      <form class="footer__inner-content__wrapper-sub__form" autocomplete="on">
        <input class="footer__inner-content__wrapper-sub__form__input" type="email" name="email" placeholder="Email">
        <a href="#" class="footer__inner-content__wrapper-sub__form__link">ПІДПИСАТИСЬ</a>
      </form>
  </div>
</div>
<div class="footer__inner-content__wrapper-social-media">
  <ul class="footer__inner-content__wrapper-social-media__list">
    <li class="footer__inner-content__wrapper-social-media__list__item">
     <a href="https://www.instagram.com/">
      <svg class="footer__inner-content__wrapper-social-media__list__item__icon" width="40" height="40">
        <use href="./images/svg/symbol-defs.svg#icon-instagram"></use>
      </svg>
     </a>
    </li>
    <li class="footer__inner-content__wrapper-social-media__list__item">
     <a href="https://www.facebook.com/">
      <svg class="footer__inner-content__wrapper-social-media__list__item__icon" width="40" height="40">
        <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
      </svg>
     </a>
    </li>
    <li class="footer__inner-content__wrapper-social-media__list__item">
    <a href="https://www.youtube.com/">
      <svg class="footer__inner-content__wrapper-social-media__list__item__icon" width="40" height="40">
        <use href="./images/svg/symbol-defs.svg#icon-youtube"></use>
      </svg>
    </a>
    </li>
  </ul>
 
</div>
  </div>
 
</div>
</footer>