<header class="header">
<div class="container">
  <nav class="header-nav">
    <a href="#" class="header-nav__logo-link">
      <img src="./images/logo.png" alt="logo" width="193" class="header-nav__logo-img">
    </a>
    <ul class="header-nav__list">
      <li class="header-nav__list__item">АКЦІЇ</li>
      <li class="header-nav__list__item">КЛІЄНТАМ
        <span class="svg-arrow">
          <svg width="10" height="10">
            <use href="./images/svg/symbol-defs.svg#icon-Vector-1-1"></use>
          </svg>
        </span>
      </li>
      <li class="header-nav__list__item">ПРО НАС</li>
      <li class="header-nav__list__item">КОНТАКТИ</li>
      <li class="header-nav__list__item">СТАТУС ЗАКАЗУ</li>
      <li class="header-nav__list__item">МИ ЗАТЕЛЕФОНУЄМ</li>
    </ul>
    <ul class="header-nav__buttons">
<li class="header-nav__buttons__item">
  <svg width="32" height="32">
    <use href="./images/svg/symbol-defs.svg#icon-compare-product"></use>
  </svg>
</li>
<li class="header-nav__buttons__item">
  <svg width="32" height="32">
    <use href="./images/svg/symbol-defs.svg#icon-favorite-product"></use>
  </svg>
</li>
<li class="header-nav__buttons__item">
  <svg width="32" height="32">
    <use href="./images/svg/symbol-defs.svg#icon-personal-area"></use>
  </svg>
</li>
<li class="header-nav__buttons__item">
  <svg width="32" height="32">
    <use href="./images/svg/symbol-defs.svg#icon-buy"></use>
  </svg>
</li>
    </ul>
  </nav>
  <div class="header__hero">
   <div class="header__hero__catalog">
      <svg width="32" height="32" class="header__hero__catalog__svg">
        <use href="./images/svg/symbol-defs.svg#icon-catalog"></use>
      </svg>
<p class="header__hero__catalog__title">КАТАЛОГ ТОВАРІВ</p>
   </div>
   <div class="header__hero__search">
    <form class="header__hero__search__form" name="header-hero-search" role="search">
      <svg class="header__hero__search__form__icon" width="24" height="24">
        <use href="./images/svg/symbol-defs.svg#icon-search1"></use>
      </svg>
      <input
        class="header__hero__search__form__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Пошук по сайту"
      />
     
      <button class="header__hero__search__form__button" aria-label="search" type="submit">
        Знайти
      </button>
    </form>
   </div>
  </div>
</div>
</header>