<section class="section-hero">
  <div class="hero-menu">
    <div class="hero-menu__catalog">
       <svg width="32" height="32" class="hero__catalog__svg">
         <use href="./images/svg/symbol-defs.svg#icon-catalog"></use>
       </svg>
 <p class="hero-menu__catalog__title">КАТАЛОГ ТОВАРІВ</p>
    </div>
    <div class="hero-menu__search">
     <form class="hero-menu__search__form" name="header-hero-search" role="search">
       <svg class="hero-menu__search__form__icon" width="24" height="24">
         <use href="./images/svg/symbol-defs.svg#icon-search1"></use>
       </svg>
       <input
         class="hero-menu__search__form__input"
         type="text"
         name="searchQuery"
         autocomplete="off"
         placeholder="Пошук по сайту"
       />
      
       <button class="hero-menu__search__form__button" aria-label="search" type="submit">
         Знайти
       </button>
     </form>
    </div>
    <div class="hero-menu__contacts">
     <ul class="hero-menu__contacts__list">
       <li class="hero-menu__contacts__list__item">
        <a class="hero-menu__contacts__link" href="tel:050 552 29 45">050 552 29 45</a>
         <span class="hero-menu__contacts__contact">
           Прийом дзвінків
         </span>
       </li>
       <li class="hero-menu__contacts__list__item">
        <a class="hero-menu__contacts__link" href="tel:067 147 80 55">067 147 80 55</a>
         <span class="hero-menu__contacts__contact">
           Пн-Пт: 08:00 – 20:00
         </span>
       </li>
       <li class="hero-menu__contacts__list__item">
        <a class="hero-menu__contacts__link" href="tel:093 170 07 76">093 170 07 76</a>
         <span class="hero-menu__contacts__contact">
         Сб - Нд: 08:00 – 17:00
         </span>
       </li>
     </ul>
    </div>
   </div>
   <div class="hero-slider">
  <div class="hero-slider__img-dewalt"></div>
  <div class="hero-slider__img-blackSquare"></div>
  <div class="hero-slider__img-sale"></div>
  <div class="hero-slider__img-people"></div>
  <div class="hero-slider__img-tool-1"></div>
  <div class="hero-slider__img-tool-2"></div>
  <div class="hero-slider__img-tool-3"></div>
   </div>
</section>