<section class="сategories">
  <div class="сategories__wrapper">
    <p class="сategories__popular-сategories">ПОПУЛЯРНІ КАТЕГОРІЇ</p>
  <p class="сategories__see-all">ДИВИТИСЬ ВСІ</p>
  </div>
  <ul class="сategories__list">
    <li class="сategories__list__item">
      <img class="сategories__list__item__image" src="./images/carTool.png" alt="car-tool" width="150">
      <p class="сategories__list__item__title">Автоінструмент</p>
    </li>
    <li class="сategories__list__item">
      <img class="сategories__list__item__image" src="./images/handTool.png" alt="hand-tool" width="150">
      <p class="сategories__list__item__title">Ручний інструмент</p>
    </li>
    <li class="сategories__list__item">
      <img class="сategories__list__item__image" src="./images/powerTool.png" alt="power-tool" width="150">
      <p class="сategories__list__item__title">Електроінструмент</p>
    </li>
    <li class="сategories__list__item">
      <img class="сategories__list__item__image" src="./images/pneumaticTool.png" alt="pneumatic-tool" width="150">
      <p class="сategories__list__item__title">Пневмоінструмент</p>
    </li>
    <li class="сategories__list__item">
      <img class="сategories__list__item__image" src="./images/forHomeAndGarden.png" alt="for-Home-And-Garden" width="150">
      <p class="сategories__list__item__title">Для дому та саду</p>
    </li>
    <li class="сategories__list__item">
      <img class="сategories__list__item__image" src="./images/pneumaticTool.png" alt="pneumatic-tool" width="150">
      <p class="сategories__list__item__title">Пневмоінструмент</p>
    </li>
    <li class="сategories__list__item">
      <img class="сategories__list__item__image" src="./images/forHomeAndGarden.png" alt="for-Home-And-Garden" width="150">
      <p class="сategories__list__item__title">Для дому та саду</p>
    </li>
    <li class="сategories__list__item">
      <img class="сategories__list__item__image" src="./images/carTool.png" alt="car-tool" width="150">
      <p class="сategories__list__item__title">Автоінструмент</p>
    </li>
    <li class="сategories__list__item">
      <img class="сategories__list__item__image" src="./images/handTool.png" alt="hand-tool" width="150">
      <p class="сategories__list__item__title">Ручний інструмент</p>
    </li>
    <li class="сategories__list__item">
      <img class="сategories__list__item__image" src="./images/powerTool.png" alt="power-tool" width="150">
      <p class="сategories__list__item__title">Електроінструмент</p>
    </li>
  </ul>
</section>