<section class="promotions">
  <div class="promotions__wrapper">
    <p class="promotions__promotions">Акції</p>
  <a class="promotions__see-all" href="#">ДИВИТИСЬ ВСІ</a>
  </div>
  <ul class="promotions__list">
    <li class="promotions__list__item">
      <span class="promotions__list__item__sale">-25%</span>
      <img class="promotions__list__item__image" src="./images/domkrat.png" alt="domkrat" width="280">
      <p class="promotions__list__item__article">GT0102</p>
      <p class="promotions__list__item__title">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
      <p class="promotions__list__item__price">1 749 грн</p>
    </li>
    <li class="promotions__list__item">
      <span class="promotions__list__item__sale">-25%</span>
      <img class="promotions__list__item__image" src="./images/domkrat.png" alt="domkrat" width="280">
      <p class="promotions__list__item__article">GT0102</p>
      <p class="promotions__list__item__title">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
      <p class="promotions__list__item__price">1 749 грн</p>
    </li>
    <li class="promotions__list__item">
      <span class="promotions__list__item__sale">-25%</span>
      <img class="promotions__list__item__image" src="./images/domkrat.png" alt="domkrat" width="280">
      <p class="promotions__list__item__article">GT0102</p>
      <p class="promotions__list__item__title">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
      <p class="promotions__list__item__price">1 749 грн</p>
    </li>
    <li class="promotions__list__item">
      <span class="promotions__list__item__sale">-25%</span>
      <img class="promotions__list__item__image" src="./images/domkrat.png" alt="domkrat" width="280">
      <p class="promotions__list__item__article">GT0102</p>
      <p class="promotions__list__item__title">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
      <p class="promotions__list__item__price">1 749 грн</p>
    </li>
    <li class="promotions__list__item">
      <span class="promotions__list__item__sale">-25%</span>
      <img class="promotions__list__item__image" src="./images/domkrat.png" alt="domkrat" width="280">
      <p class="promotions__list__item__article">GT0102</p>
      <p class="promotions__list__item__title">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
      <p class="promotions__list__item__price">1 749 грн</p>
    </li>
  </ul>
 <div class="promotions__wrapper-line">
   <img class="promotions__wrapper-line__lineA" src="./images/lineA.png" alt="lineA" width="168">
  <img class="promotions__wrapper-line__lineB" src="./images/lineA.png" alt="lineA" width="1582"> 
 </div>
</section>